{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'fastcase/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fastcase/css/form.css' %}">
</head>

<body>
    <div class="wrapper">
        <header>
            <ul class="header-list">
                <li>
                    <a class="header-list__name" href="/">fastcase</a>
                </li>
                <li>
                    <a class="header-list__element" href="#">о нас</a>
                </li>
                <li>
                    <a class="header-list__element" href="#">контакты</a>
                </li>
                <li>
                    <a class="header-list__element" href="#">создать страницу</a>
                </li>
            </ul>
        </header>
        <main>
            <div class="title-h1">
                <h1>ЗАПОЛНИ ФОРМУ, И ТВОЙ САЙТ-РЕЗЮМЕ БУДЕТ ГОТОВ</h1>
            </div>

            <form class="create-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-wrapper">
                    <div class="wrapper-1">
                        <h2 class="first-stap-title">Введите информацию о себе</h2>
                        <div class="first-stap-form">
                            <div class="form-field">
                                <label for="{{ form.name.id_for_label }}">Имя:</label>
                                {{ form.name }}
                            </div>
        
                            <div class="form-field">
                                <label for="{{ form.job.id_for_label }}">Должность:</label>
                                {{ form.job }}
                            </div>
        
                            <div class="form-field">
                                <label for="{{ form.salary.id_for_label }}">Желаемая зар.плата:</label>
                                {{ form.salary }}
                            </div>
        
                            <div class="form-field photo">
                                <label for="{{ form.photo.id_for_label }}">Ваще фото:</label>
                                {{ form.photo }}
                            </div>
        
                            <div class="form-field disk">
                                <label for="{{ form.description.id_for_label }}">Немного опишите себя</label>
                                {{ form.description }}
                            </div>
                        </div>
        
        
                        <h3 class="second-stap-title">Укажите свои навыки</h3>
                        <div id="empty-skill-form">
                            <div id="skill-formset">
                                {{ skill_formset.management_form }}
                                {% for form in skill_formset %}
                                <div id="skill-form-block" class="form-block">
                                    <div class="second-stap-form">
                                        <div class="form-field">
                                            <label for="{{ form.name.id_for_label }}">Навык</label>
                                            {{ form.skill }}
                                        </div>
                                        <button class="remove-form" type="button">удалить</button>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <button id="add-skill-form" class="add-form" type="button">Добавить опыт</button>
                        <input class="finish-form glow-on-hover" type="submit" value="СОЗДАТЬ САЙТ">
                    </div>
                    
                    <div class="wrapper-1">
                        <h3 class="second-stap-title">Введите ваш опыт работы</h3>
                        <div id="empty-experience-form">
                            <div id="experience-formset">
                                {{ experience_formset.management_form }}
                                {% for form in experience_formset %}
                                <div id="experience-form-block" class="form-block">
                                    <div class="second-stap-form">
                                        <div class="form-field">
                                            <label for="{{ form.name.id_for_label }}">Место работы:</label>
                                            {{ form.title }}
                                        </div>
                                        <div class="form-field disk">
                                            <label for="{{ form.name.id_for_label }}">Ваш опыт на этой работе:</label>
                                            {{ form.description }}
                                        </div>
                                        <button class="remove-form" type="button">удалить</button>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                        <button id="add-experience-form" class="add-form" type="button">Добавить место работы</button>
        
        
                        <h3 class="second-stap-title">Расскажите про свои проекты</h3>
                        <div id="empty-case-form">
                            <div id="case-formset">
                                {{ case_formset.management_form }}
                                {% for form in case_formset %}
                                <div id="case-form-block" class="form-block">
                                    <div class="second-stap-form">
                                        <div class="form-field">
                                            <label for="{{ form.name.id_for_label }}">Название</label>
                                            {{ form.title }}
                                        </div>
                                        <div class="form-field">
                                            <label for="{{ form.name.id_for_label }}">Описание</label>
                                            {{ form.description }}
                                        </div>
                                        <div class="form-field">
                                            <label for="{{ form.name.id_for_label }}">Ссылка</label>
                                            {{ form.link }}
                                        </div>
                                        <button class="remove-form" type="button">удалить</button>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>    
                        <button id="add-case-form" class="add-form" type="button">Добавить проект</button>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <script src="{% static 'fastcase/js/forms.js' %}"></script>
</body>

</html>