{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'fastcase/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fastcase/css/welcome.css' %}">
    <script src="https://kit.fontawesome.com/cfed9a189e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <ul class="header-list">
                <li>
                    <a class="header-list__name" href="/">fastcase</a>
                </li>
                <li>
                    <button class="header-list__element-btn" id="contact-btn">контакты</и>
                </li>
                <li>
                    <a class="header-list__element" href="/create-page">создать страницу</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <div class="user-container">
                        <a class="header-list__element user-name" href="#"><i class="fa-solid fa-house house-icon"></i>
                            {{ user.username }}</a>
                        <ul class="user-list">
                            <li>
                                <a class="header-list__element" href="#">личный кабинет</a>
                            </li>
                            <li>
                                <a class="header-list__element" href="/logout">выйти</a>
                            </li>
                        </ul>
                    </div>
                    {% else %}
                    <a class="header-list__element" href="/login">войти</a>
                    {% endif %}
                </li>
            </ul>
        </header>
        <main>
            <section class="promo">
                <h1 class="main-title">FASTCASE</h1>
                <p class="promo-text">Создай свое резюме в форме
                    сайта за считанные минуты</p>
                <a class="go-btn" href="/create-page">ПОПРОБОВАТЬ</a>
            </section>
            <section class="reg">
                <h2 class="reg__how-to">Как начать:</h2>
                <p class="reg__text">1. Зарегистрируйтесь</p>
                <p class="reg__text">2. Введите данные о себе
                    в разделе создания сайта</p>
                <p class="reg__text">3. Получите ссылку на
                    свой сайт</p>
            </section>
        </main>
        <footer id="foot">
            <p class="footer__mail">timofeevila423@gmail.com</p>
            <a class="footer__link" href="https://t.me/fwhyjke">fwhyjke</a>
            <p class="footer__elem" href="#">created by Ilya T.</p>
        </footer>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var element = document.getElementById('foot');
            element.classList.add('highlighted');
            setTimeout(function () {
                element.classList.remove('highlighted');
            }, 800);

        });

        document.getElementById('contact-btn').addEventListener('click', function () {
            var element = document.getElementById('foot');
            element.classList.add('highlighted');
            setTimeout(function () {
                element.classList.remove('highlighted');
            }, 1000);
        });
    </script>
</body>

</html>